@using System.Collections.Generic
@using Nancy.Security
@using Nancy.Session
@using SmartHomeWeb
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<dynamic>
@*                           ^^^^^^^^^^^^^^^^^^^    *@
@*                         This is the @Model type  *@

<h1>@TextResources.AddLocationPageTitle</h1>
@TextResources.AddLocationPageDescription

@if (Context.CurrentUser.IsAuthenticated())
{
    @Html.Partial("feedback-box.cshtml")

    <form method="post">
        <div class="form-group">
            <label for="location">@(TextResources.LocationNameLabel):</label>
            <input id="location" name="location-name" class="form-control"/>
        </div>
        <button type="submit" class="btn btn-primary">@TextResources.AddLocationButtonText</button>
    </form>
}
else
{
    <text>@TextResources.AddLocationNotAuthenticatedText</text>
}
