@using System.Collections.Generic
@using Nancy.Security
@using Nancy.Session
@using SmartHomeWeb
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<dynamic>

<h1>@TextResources.AddPersonPageTitle</h1>

@Html.Partial("feedback-box.cshtml")

<form method="post">
    <div class="form-group">
        <label for="personusername">@(TextResources.PersonUserNameLabel):</label>
        <input id="personusername" name="person-username" class="form-control"/>
        <label for="personname">@(TextResources.PersonNameLabel):</label>
        <input id="personname" name="person-name" class="form-control"/>
        <label for="personpassword">@(TextResources.PersonPasswordLabel):</label>
        <input type="password" id="personpassword" name="person-password" class="form-control"/>
        <label for="personpasswordrepeat">@(TextResources.PersonRepeatPasswordLabel):</label>
        <input type="password" id="personpasswordrepeat" name="person-password-repeat" class="form-control"/>
        <label for="personbirthdate">@(TextResources.PersonBirthdateLabel):</label>
        <input type="date" id="personbirthdate" name="person-birthdate" class="form-control"/>
        <label for="personaddress">@(TextResources.PersonAddressLabel):</label>
        <input id="personaddress" name="person-address" class="form-control"/>
        <label for="personcity">@(TextResources.PersonCityLabel):</label>
        <input id="personcity" name="person-city" class="form-control"/>
        <label for="personzipcode">@(TextResources.PersonZipCodeLabel):</label>
        <input id="personzipcode" name="person-zipcode" class="form-control"/>
    </div>
    <button type="submit" class="btn btn-primary">@TextResources.AddPersonButtonText</button>
</form>
