@using System
@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<List<LocationWithSensors>>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="//cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
<link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />

<h2>@TextResources.MeasurementsPageTitle</h2>

@if (@Model.Count == 0)
{
    <h3>@TextResources.EmptyDashboardTitle</h3>
    <div>
	    @TextResources.DashboardAddLocationPre
	    <a href="/add-has-location">@TextResources.DashboardAddLocation</a>
        @TextResources.DashboardAddLocationPost
    </div>
}
else
{
    <ul class="nav nav-tabs col-sm-12">
        @for (var x = 0; x < @Model.Count; ++x)
        {
            <li @(x == 0 ? Html.Raw("class=\"active\"") : Html.Raw(""))><a data-toggle="tab" href="#u_@x">@Model[@x].Location.Data.Name</a></li>    }
    </ul>

    <div class="container col-sm-12">

        <div style="margin-top: 15px;">
            <div class="col-sm-4">
                <div class="panel panel-default">

                    <div class="panel-heading">@(TextResources.RangeSelectorTitle)</div>
                    <div class="panel-body">
                        <input id="daterange" name="daterange" size="39">
                    </div>

                </div>
            </div>

            <div class="col-sm-8">
                <div class="panel panel-default">

                    <div class="panel-heading">@(TextResources.TagSelectorTitle)</div>
                    <div class="panel-body">
                        <input type="text" id="tagselector">
                    </div>

                </div>
            </div>
        </div>

        <div class="col-sm-8">
            <div class="panel panel-default">
                <div class="panel-heading">@(TextResources.GraphTitle)</div>
                <div class="panel-body">
                    @Html.Partial("graph.cshtml")
                </div>
            </div>
        </div>

		<div class="col-sm-4">
            <div class="panel panel-default">

                <div class="panel-heading">@(TextResources.SensorSelectorTitle)</div>

                <div class="panel-body tab-content">

                    @for (int x = 0; x < @Model.Count; ++x)
                    {
                        <div id="u_@x" class="tab-pane fade @(x == 0 ? "in active" : "")" style="height: 55%; overflow:auto;">
                            <ul class="nav nav-pills nav-stacked">

                                @foreach (var y in @Model[x].Sensors)
                                {
                                    <li id="@y.Id" onClick="measurementsGraph.setId(this.id)">
                                        <div class="clickable-item" style="width: 100%; display: table;">
                                            <div style="display: table-row">
                                                <div style="display: table-cell;">
                                                    @y.Data.Name
                                                    <div id="@(y.Id)-description" class="sensor-desciption">
                                                        @y.Data.Description
                                                    </div>
                                                </div>
                                                <a href="/edit-sensor/@y.Id" class="add-tag" style="width: 25px; display: table-cell;">
                                                    <span class="glyphicon glyphicon-cog" style="float: right;" />
                                                </a>
                                            </div>
                                        </div>
                                    </li>
                                }

                            </ul>
                        </div>
                    }

                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">

    var now = Date();

    $(function () {
        $('input[name="daterange"]').daterangepicker({
            locale: {
                format: 'YYYY/MM/DD HH:mm'
            },
            timePicker24Hour: true,
            timePicker: true,
            autoApply: true,
            linkedCalendars: false,
            ranges:{
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            startDate: moment(),
            endDate: moment()
        }, function (start, end, label) {
            var date1 = new Date(start.format('YYYY-MM-DDTHH:mm:ss'));
            var date2 = new Date(end.format('YYYY-MM-DDTHH:mm:ss'));
            measurementsGraph.setTimeframe(date1, date2);
        });
    });

</script>

<script>
    $(document).ready(function () {
        $('.nav li .clickable-item').click(function (e) {
            
            var $parent = $(this).parent();
            var $holder = $parent.parent();
            $holder.children().removeClass('active');

            if (!$parent.hasClass('active')) {
                $parent.addClass('active');
            }
            e.preventDefault();
        });
    });
</script>