@using System.Collections.Generic
@using System.Linq
@using Nancy.Security
@using Nancy.Session
@using SmartHomeWeb
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<Dictionary<FriendsState, IEnumerable<Person>>>

<h1>@TextResources.FriendsPageTitle</h1>

@Html.Partial("feedback-box.cshtml")

<div class="container col-sm-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            @TextResources.AddFriendTitle
        </div>
        <div class="panel-body">
            <a href="/person">@TextResources.AddFriendExplanation</a>
        </div>
    </div>
</div>


@if (Context.CurrentUser.IsAuthenticated())
{
    <div class="container col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                @TextResources.NewFriendRequestsLabel
            </div>
            <div class="panel-body">
                @if (Model[FriendsState.FriendRequestRecieved].Any())
                {
                <table>
                    @foreach (Person p in @Model[FriendsState.FriendRequestRecieved])
                    {
                        <tr>
                            <td>
                                <div class="profile-avatar @p.AvatarClass()"
                                     style="width:40px; height:40px;margin-right:15px"></div>
                            </td>

                            <td>
                                <a href="/person/@p.Data.UserName">@p.Data.Name</a>
                            </td>

                            <td>
                                <form class="form-inline" method="post" action="/friend-request" style="margin-left:15px; margin-bottom: auto;">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-success" name="friend-name" value="@p.Data.UserName">
                                            @TextResources.AcceptFriendRequestButton
                                        </button>
                                    </div>
                                </form>
                            </td>
                        </tr>
                    }
                </table>
                }
                else
                {
                    @TextResources.NoNewFriendRequests
                }
            </div>
        </div>
    </div>

    <div class="container col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading">
                @TextResources.PendingFriendRequestsLabel
            </div>
            <div class="panel-body">

                @if (Model[FriendsState.FriendRequestSent].Any()) {
                <table>
                    @foreach (Person p in @Model[FriendsState.FriendRequestSent])
                    {
                        <tr>

                            <td>
                                <div class="profile-avatar @p.AvatarClass()"
                                     style="width:40px; height:40px;margin-right:15px"></div>
                            </td>

                            <td>
                                <a href="/person/@p.Data.UserName">@p.Data.Name</a>
                            </td>
                        
                        </tr>
                    }
                </table>
                }
                else
                {
                    @TextResources.NoPendingFriendRequests
                }

            </div>
        </div>
    </div>

    <div class="container col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                @TextResources.AllFriendsLabel
            </div>
            <div class="panel-body">

                @if (Model[FriendsState.Friends].Any())
                {
                

                <table>
                    @foreach (var p in @Model[FriendsState.Friends])
                    {
                        <tr>
                            <td>
                                <div class="profile-avatar @p.AvatarClass()"
                                     style="width:40px; height:40px;margin-right:15px"></div>
                            </td>

                            <td>
                                <a href="/person/@p.Data.UserName">@p.Data.Name</a>
                            </td>
                        </tr>
                    }
                </table>
                }
                else
                {
                    @TextResources.NoFriends
                    <br />
                    @TextResources.TryAddingFriends
                }

            </div>
        </div>
    </div>
}
else
{
    <text>@TextResources.ViewFriendsNotLoggedInError</text>
}