@using System
@using System.Collections.Generic
@using System.Linq
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@using SmartHomeWeb
@inherits NancyRazorViewBase<IEnumerable<Group>>

<h2>@TextResources.GroupOverviewPageTitle</h2>
<form method="post"> 
	<label for="NG_name">@TextResources.NewGroupNameLabel:</label>
	<input id="NG_name" name="NG_name" class="form-control"/>
	<label for="NG_description">@TextResources.NewGroupDescriptionLabel:</label>
	<input id="NG_description" name="NG_description" class="form-control"/>
	<button type="submit" class="btn btn-primary">@TextResources.Submit</button>
</form>
@if (!Model.Any())
{
    <p>@TextResources.GroupOverviewNoGroups</p>
}
else
{
    <ul class="media-list">
        @foreach (var g in Model)
        {
            <li class="media">
              <div class="media-left">
                <a href="/groups/@g.Id">
	                <div class="profile-avatar-small avatar-@(Math.Abs(g.Id.GetHashCode() % 4))"></div>
                </a>
              </div>
              <div class="media-body">
	              <h4 class="media-heading message-header">
		              @g.Name
	              </h4>
	              <div class="bubble">
		              @g.Description
	              </div>
              </div>
            </li>
        }
    </ul>
}