@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Person>>
@*                           ^^^^^^^^^^^^^^^^^^^    *@
@*                         This is the @Model type  *@

<h1>Test view</h1>

@if (@Html.RenderContext.Context.CurrentUser.IsAuthenticated())
{
    <h2>Logged in as @Html.RenderContext.Context.CurrentUser.UserName.</h2>
}

<table class="table">
@foreach (var p in @Model)
{
    <tr>
        <th>@p.Data.UserName</th>
        <td>@p.Data.Name</td>
        <td>@p.Data.Birthdate.ToLongDateString()</td>
        <td><marquee>@p.Data.Password</marquee></td>
    </tr>
}
</table>
