@using System.Globalization
@using Nancy.Security
@using SmartHomeWeb
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

<!DOCTYPE html5>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SmartHomeWeb</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	<link href="/content/style.css" rel="stylesheet" type="text/css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="/">
				<img id="navbar-logo" src="/content/logostencilwhitesmall.png" height="28px" style="float:left;margin-top:-4px;margin-right:8px;">
                SmartHomeWeb
			</a>
		</div>
		<div id="navbar" class="collapse navbar-collapse">
			<ul class="nav navbar-nav">
				<li class="dropdown">
					<a href="#" class="dropdown-toggle debug-page" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        @TextResources.DebugPagesTitle<span class="caret"></span>
                    </a>
					<ul class="dropdown-menu">
						<li><a class="debug-page" href="/person"> @TextResources.UsersPageTitle</a></li>
						<li><a class="debug-page" href="/location"> @TextResources.LocationsPageTitle</a></li>
						<li><a class="debug-page" href="/message"> @TextResources.MessagesPageTitle</a></li>
						<li><a class="debug-page" href="/sensor"> @TextResources.SensorsPageTitle</a></li>
						<li><a class="debug-page" href="/measurement"> @TextResources.MeasurementsPageTitle</a></li>
					</ul>
				</li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        @TextResources.UsersPageTitle<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="debug-page" href="/person"> @TextResources.UsersPageTitle</a></li>
                        <li><a href="/add-person"> @TextResources.AddPersonPageTitle</a></li>
                        <li><a href="/friends"> @TextResources.FriendsPageTitle</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        @TextResources.LocationsPageTitle<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="debug-page" href="/location"> @TextResources.LocationsPageTitle</a></li>
                        <li><a href="/add-location"> @TextResources.AddLocationPageTitle</a></li>
                        <li><a href="/add-has-location"> @TextResources.AddHasLocationPageTitle</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        @TextResources.SensorsPageTitle<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="debug-page" href="/sensor"> @TextResources.SensorsPageTitle</a></li>
                        <li><a href="/add-sensor"> @TextResources.AddLocationPageTitle</a></li>
                        <li><a href="/add-tag"> @TextResources.AddTagPageTitle</a></li>
					    <li><a href="/mysensors"> @TextResources.Sensorsfromuser</a></li>
                    </ul>
                </li>
			    <li><a href="/dashboard"> @TextResources.DashboardPageTitle</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				@if (@Context.CurrentUser.IsAuthenticated())
				{
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            @Html.RenderContext.Context.CurrentUser.UserName
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="main-page" href="/person/@Html.RenderContext.Context.CurrentUser.UserName"> @TextResources.MyProfileTitle</a></li>
                            <li><a href="/editprofile">@TextResources.EditPersonPageTitle</a></li>
                        </ul>
                    </li>

				    <li><a href="/logout">
					    @TextResources.LogOut
				    </a></li>
				}
				else
				{
				    <li><a href="/login">
					    @TextResources.LogIn
				    </a></li>
				    <li><a href="/add-person">
					    @TextResources.AddPersonPageTitle
				    </a></li>
				}

				<li class="dropdown">
					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
						<span class="glyphicon glyphicon-globe" aria-hidden="true" title="@TextResources.Language"></span>
                        <span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/set-culture?lcid=en-US">English</a></li>
						<li><a href="/set-culture?lcid=nl-NL">Nederlands</a></li>
					</ul>
				</li>
            </ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>

    <div class="container">
      <div class="starter-template">
	      @RenderBody()
      </div>
    </div><!-- /.container -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

</body>
</html>
