@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Tuple<Location, string>>>

<h1>@TextResources.LocationsPageTitle</h1>

<table class="table">

        <tr class="tableHeader">
            <th>&shy;</th>  <!-- Edit location button -->
            <th>@TextResources.LocationNameLabel</th>
            <th>@TextResources.LocationOwnerLabel</th>
            <th>@TextResources.LocationElectricityPriceLabel</th>
        </tr>
		
    @foreach (var item in @Model)
    {
        var p = item.Item1;
        <tr>
            <td>
                <a href="/edit-location/@p.Id" style="display:inline">
                    <span class="glyphicon glyphicon-cog" style="float:right;"></span>
                </a>
            </td>
            <td>@p.Data.Name</td>
            <td>@item.Item2</td>
            <td>@p.Data.ElectricityPrice</td>
        </tr>
    }
</table>
