@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Measurement>>
@*                           ^^^^^^^^^^^^^^^^^^^    *@
@*                         This is the @Model type  *@

<h1>Measurement</h1>

@if (@Html.RenderContext.Context.CurrentUser.IsAuthenticated())
{
    <h2>Logged in as @Html.RenderContext.Context.CurrentUser.UserName.</h2>
}

<table class="table">

        <tr class="tableHeader">
            <th>ID</th>
            <th>Time</th>
            <th>Data</th>
            <th>Notes</th>
        </tr>      
		
    @foreach (var p in @Model)
    {
        <tr>
            <th>@p.SensorId</th>
            <td>@p.Time</td>
            <td>@p.MeasuredData</td>
            <td>@p.Notes</td>
        </tr>      
}                  
</table>
