@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Message>>
@*                           ^^^^^^^^^^^^^^^^^^^    *@
@*                         This is the @Model type  *@

<h1>Message</h1>

@if (@Html.RenderContext.Context.CurrentUser.IsAuthenticated())
{
    <h2>Logged in as @Html.RenderContext.Context.CurrentUser.UserName.</h2>
}

<table class="table">

        <tr class="tableHeader">
            <th>ID</th>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Message</th>
        </tr>      
		
    @foreach (var p in @Model)
    {
        <tr>
            <th>@p.Id</th>
            <td>@p.Data.SenderGuid</td>
            <td>@p.Data.RecipientGuid</td>
            <td>@p.Data.Message</td>
        </tr>      
}                  
</table>
