@using System.Collections.Generic
@using Nancy.Security
@using Nancy.Session
@using SmartHomeWeb
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Message>>

<h1>@TextResources.MessagesPageTitle</h1>
<h2>@TextResources.MessageComposerTitle</h2>

@if (Context.CurrentUser.IsAuthenticated())
{
    @Html.Partial("feedback-box.cshtml")

    <form method="post">
        <div class="form-group">
            <label for="message-to">@TextResources.MessageComposerToLabel</label>
            <input id="message-to" name="message-name" class="form-control"/>
            <label for="message-body">@TextResources.MessageComposerBodyLabel</label>
            <textarea id="message-body" name="message-body" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">@TextResources.Submit</button>
    </form>
}
else
{
    <text>@TextResources.SendMessageNotAuthenticatedText</text>
}

<h2>@TextResources.AllMessagesTitle</h2>
<table class="table">

        <tr class="tableHeader">
            <th>@TextResources.MessageIDLabel</th>
            <th>@TextResources.MessageSenderLabel</th>
            <th>@TextResources.MessageRecipientLabel</th>
            <th>@TextResources.MessageMessageLabel</th>
        </tr>      
		
    @foreach (var m in @Model)
    {
        <tr>
            <th>@m.Id</th>
	        <td><samp>@m.Data.SenderGuid</samp></td>
	        <td><samp>@m.Data.RecipientGuid</samp></td>
            <td>@m.Data.Message</td>
        </tr>      
}                  
</table>
