@using System.Collections.Generic
@using Nancy.Security
@using Nancy.Session
@using SmartHomeWeb
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Message>>
@*                           ^^^^^^^^^^^^^^^^^^^    *@
@*                         This is the @Model type  *@

<h1>@TextResources.MessagesPageTitle</h1>
<h2>Send a message</h2>

@if (Context.CurrentUser.IsAuthenticated())
{
    @Html.Partial("feedback-box.cshtml")

    <form method="post">
        <div class="form-group">
            <label for="message-to">To:</label>
            <input id="message-to" name="message-name" class="form-control"/>
            <label for="message-body">Body:</label>
            <textarea id="message-body" name="message-body" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
}
else
{
    <text>You must log in to send messages.</text>
}

<h2>All messages</h2>
<table class="table">

        <tr class="tableHeader">
            <th>ID</th>
            <th>Sender</th>
            <th>Recipient</th>
            <th>Message</th>
        </tr>      
		
    @foreach (var p in @Model)
    {
        <tr>
            <th>@p.Id</th>
	        <td><samp>@p.Data.SenderGuid</samp></td>
	        <td><samp>@p.Data.RecipientGuid</samp></td>
            <td>@p.Data.Message</td>
        </tr>      
}                  
</table>
