@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Message>>
@*                           ^^^^^^^^^^^^^^^^^^^    *@
@*                         This is the @Model type  *@

<h1>Message</h1>

@if (@Html.RenderContext.Context.CurrentUser.IsAuthenticated())
{
    <h2>Logged in as @Html.RenderContext.Context.CurrentUser.UserName.</h2>
}

<table class="table">
    @foreach (var p in @Model)
    {
        <tr>
            <th>@p.Id</th>
            <th>@p.Data.SenderId</th>
            <td>@p.Data.RecipientId</th>
            <td>@p.Data.Message</th>
        </tr>      
}                  
</table>
