@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<List<Locationextended>>
@*                           ^^^^^^^^^^^^^^^^^^^    *@
@*                         This is the @Model type  *@
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Measurement</h1>

@if (@Html.RenderContext.Context.CurrentUser.IsAuthenticated())
{
    <h2>Logged in as @Html.RenderContext.Context.CurrentUser.UserName.</h2>
}
else
{
	<h2>Not Logged In</h2>
}

@if (@Model.Count == 0)
{
    <h2>Seems kind of lonely in here.</h2>
    <div>Maybe you should <a href="/add-has-location">add a location to your profile.</a></div>
}
else
{
    <div class="container">
        <h2>Locations</h2>
        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#0">@Model[0].location.Data.Name</a></li>
        	@for (int x = 1; x < @Model.Count; ++x) {
                <li><a data-toggle="tab" href="#@x">@Model[x].location.Data.Name</a></li>
        	}
        </ul>

        <div class="tab-content">
            <div id="0" class="tab-pane fade in active">
                <h3>Sensors:</h3>
                <table>
                @foreach (var x in @Model[0].sensoren) {
                    <tr>@x.Data.Name</tr>
                }
                </table>
            </div>

            @for (int x = 1; x < @Model.Count; ++x) {
                <div id="@x" class="tab-pane fade">
                    <h3>Sensors:</h3>
                    @foreach (var i in @Model[x].sensoren) {
                        <tr>@i.Data.Name</tr>
                    }
                </div>
            }
        </div>
    </div>
    <div id="myPieChart"/>
}
</body>
