@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Person>>
@*                           ^^^^^^^^^^^^^^^^^^^    *@
@*                         This is the @Model type  *@

<h1>Person</h1>

<table class="table">

        <tr class="tableHeader">
            <th>GUID</th>
            <th>Username</th>
            <th>Full Name</th>
            <th>Birthdate</th>
            <th>Password</th>
            <th>Address</th>
            <th>City</th>
            <th>Zipcode</th>
        </tr>      
		
    @foreach (var p in @Model)
    {
        <tr>
	        <th><samp>@p.Guid</samp></th>
	        <th><a href="/person=@p.Data.UserName">@p.Data.UserName</a></th>
	        <td>@p.Data.Name</td>
	        <td>@p.Data.Birthdate.ToLongDateString()</td>
	        <td>@p.Data.Password</td>
	        <td>@p.Data.Address</td>
	        <td>@p.Data.City</td>
	        <td>@p.Data.ZipCode</td>
        </tr>
    }
</table>
