@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Tuple<Person, FriendsState>>>

<script type="text/javascript">

    function search() {
        var query = document.getElementById('search-box').value;
        var request = new XMLHttpRequest();
        var path = query === '' ? '/' : '/search/' + query;
        request.open('GET', '/api/persons' + path);
        request.responseType = 'json';
        request.onload = function (e) {
            console.log(request.response);
            var searchNames = [];
            var i;
            for (i = request.response.length - 1; i >= 0; i--) {
                searchNames.push(request.response[i]['data']['username']);
            }

            var personRows = document.getElementsByClassName('person-row');
            for (i = personRows.length - 1; i >= 0; i--) {
                var userName = personRows[i].getElementsByTagName('th')[0].innerText;
                console.log(searchNames.indexOf(userName));
                personRows[i].style.display = searchNames.indexOf(userName) > -1 ? 'table-row' : 'none';
            }
		};
        request.send();        
    }

</script>

<h1>@TextResources.UsersPageTitle</h1>

<div class="panel panel-default">

    <div class="panel-heading">@(TextResources.SearchUserTitle)</div>
    <div class="panel-body">
        <input id="search-box" oninput="search()" type="text" />
    </div>
</div>
    
<table class="table">

        <tr class="tableHeader">
            @if (Context.CurrentUser.IsAuthenticated())
            {
                <th width="1%">&shy;</th>
            }
            <th width="1%">&shy;</th>
            <th>@TextResources.PersonUserNameLabel</th>
            <th>@TextResources.PersonNameLabel</th>
            <th>@TextResources.PersonAddressLabel</th>
	        <th>@TextResources.PersonCityLabel</th>
        </tr>
		
    @foreach (var item in Model)
    {
        var person = item.Item1;
        var friendStatus = item.Item2;
        <tr class="person-row">
            
                @if (Context.CurrentUser.IsAuthenticated())
                {
                    <td style="margin-right:15px">
                        @if (person.Data.UserName != Context.CurrentUser.UserName)
                        {
                            switch (friendStatus)
                            {
                                case FriendsState.None:
                                    <form method="post" style="margin: 0px;">
                                        <button type="submit" class="btn btn-success" name="friend-name" value="@person.Data.UserName">
                                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                    break;
                                case FriendsState.FriendRequestRecieved:
                                    <form method="post" style="margin: 0px;">
                                        <button type="submit" class="btn btn-success" name="friend-name" value="@person.Data.UserName">
                                            <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                                        </button>
                                    </form>
                                    break;
                                case FriendsState.FriendRequestSent:
                                    <span class="glyphicon glyphicon-ok faux-button-padding" aria-hidden="true"></span>
                                    break;
                                case FriendsState.Friends:
                                    <span class="glyphicon glyphicon-user faux-button-padding" aria-hidden="true"></span>
                                    break;
                            }
                        }
                        else
                        {
                            <text>&shy;</text>
                        }
                    </td>
                }

            <td style="padding: 5px;">
                <div class="profile-avatar @person.AvatarClass()"
                     style="width:35px;height:35px;" />
            </td>
	        <th><a href="/person/@person.Data.UserName">@person.Data.UserName</a></th>
            <td>@person.Data.Name</td>
            <td>@person.Data.Address</td>
            <td>@person.Data.City</td>
        </tr>
    }
</table>
