@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Person>>

<script type="text/javascript">
    function search() {
        var query = document.getElementById('search-box').value;
        var request = new XMLHttpRequest();
        request.open('GET', "/api/persons/search/" + query);
        request.send();

    }
</script>

<h1>@TextResources.UsersPageTitle</h1>

Search: <input id "search-box" onchange="search()" type="text"/>

<table class="table">

        <tr class="tableHeader">
            <th>@TextResources.PersonUserNameLabel</th>
            <th>@TextResources.PersonNameLabel</th>
            <th>@TextResources.PersonAddressLabel</th>
	        <th>@TextResources.PersonCityLabel</th>
	        <th>@TextResources.SendFriendRequestButton</th>
        </tr>
		
    @foreach (var p in @Model)
    {
        <tr>
	        <th><a href="/person/@p.Data.UserName">@p.Data.UserName</a></th>
	        <td>@p.Data.Name</td>
	        <td>@p.Data.Address</td>
	        <td>@p.Data.City</td>
	        <td>
		        <button onclick="alert('maak dit')" type="button" class="btn btn-success">
			        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
		        </button>
	        </td>
        </tr>
    }
</table>
