@using System.Collections.Generic
@using System.Linq
@using Nancy.Security
@using SmartHomeWeb
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<IEnumerable<Tuple<Sensor, IEnumerable<string>>>>

<h1>@TextResources.SensorsPageTitle</h1>

<table class="table">

        <tr class="tableHeader">
            <th>@TextResources.SensorIDLabel</th>
            <th>@TextResources.SensorNameLabel</th>
            <th>@TextResources.SensorLocationLabel</th>
            <th>@TextResources.SensorDescriptionLabel</th>
            <th>@TextResources.SensorNotesLabel</th>
            <th>@TextResources.SensorTagsLabel</th>
        </tr>      
		
    @foreach (var p in @Model)
    {
        <tr>
            @{var sensor = p.Item1;}
	        <th>@sensor.Id</th>
            <th>@sensor.Data.Name</th>
            <td>@sensor.Data.LocationId </td>
            <td>@sensor.Data.Description</td>
            <td>@sensor.Data.Notes</td>
            <td>
                <form action="/add-tag/@sensor.Id" style="display:inline">
                    <input class="btn-xs btn-info" type="submit" value="+">
                </form>
                @{var tags = p.Item2;}
                @if (tags.Count() != 0)
                {
                    @for (int i = 0; i < tags.Count(); i++)
                    {
                        <span class="tag">@tags.ElementAt(i)</span>
                    }
                }
                else
                {
                    <span class="no-tags">(@TextResources.NoTagsText)</span>
                }
            </td>
        </tr>
    }
</table>
