@using System
@using System.Collections.Generic
@using Nancy.Security
@using SmartHomeWeb
@using SmartHomeWeb.Model
@using Nancy.ViewEngines.Razor
@inherits NancyRazorViewBase<List<LocationWithSensors>>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>


@if (@Model.Count == 0)
{
    <h3>@TextResources.EmptyDashboardTitle</h3>
    <div>
	    @TextResources.DashboardAddLocationPre
	    <a href="/add-has-location">@TextResources.DashboardAddLocation</a>
        @TextResources.DashboardAddLocationPost
    </div>
}
else
{
    <div class="container col-sm-12" style="margin-top: 3%;">
        <ul class="nav nav-tabs col-sm-12">
	    @for(var x = 0; x < @Model.Count; ++x)
		{
		  <li @(x == 0 ? Html.Raw("class=\"active\"") : Html.Raw(""))><a data-toggle="tab" href="#u_@x">@Model[@x].Location.Data.Name</a></li>
		}
		</ul>
		
		<div class="tab-content col-sm-12">
			@for (int x = 0; x < @Model.Count; ++x)
			{
			  <div id="u_@x" class="tab-pane fade @(x == 0 ? "in active" : "")">
			  	<table class="table">
					<tr class="tableHeader">
						<th>@TextResources.SensorNameLabel</th>
						<th>@TextResources.SensorDescriptionLabel</th>
						<th>@TextResources.SensorNotesLabel</th>
						<th>@TextResources.SensorTagsLabel</th>
					</tr>
					@foreach (var y in @Model[x].Sensors)
					{
					  <tr>
						<th>@y.Data.Name</th>
						<td>@y.Data.Description</td>
						<td>@y.Data.Notes</td>
						<td>
							<a href="/edit-sensor/@y.Id" class="add-tag" style="display:inline">
								<span class="glyphicon glyphicon-cog"></span>
							</a>
						</td>
					  </tr>
					}
				</table>
			  </div>
			}
		</div>
    </div>
}